.success-stories {
    width: 100%;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #004047;
    color: white;
    padding: 36px 30px 70px;
}

.move-photo {
    width: 8%;
    height: auto;
    align-self: flex-start;
}

.move-photo img {
    display: block;
    width: 100%;
    height: auto;
}

.success-stories__title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 27px;
}

.success-stories__title h2 {
    font-size: 48px;
    line-height: 1;
}

.success-stories__title span {
    color: #79C8C7;
}
 

dwadwaa