.success-stories {
    width: 100%;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #004047;
    color: white;
    padding: 36px 30px 70px;
}

.move-photo {
    width: 100%;
    height: auto;
    background-color: #004047;
}

.success-stories__title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 27px;
}

.success-stories__title h2 {
    font-size: 48px;
    line-height: 1;
}

.success-stories__title span {
    color: #79C8C7;
}
 
.persons-table {
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 40px;                      
}

.column-line1, .column-line2, .column-line3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}


