footer{
    font-family: "Livvic", sans-serif;
    margin: 0 auto;
}
 
.cta{
    width: 100%;
    max-width: 1440px;
    height: auto;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: #F67E7E;
}
 
.cta img{
    width: 194px;
    margin-right: -194px;
    margin-top: 75px;
}
 
.cta_in{
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
 
.cta_in h2{
    margin: 0 auto;
    font-size: clamp(28px, 3vw, 48px);
    line-height: 1;
    color: #012F34;
    margin-right: 235px;
    margin-bottom: 20px;
}
 
.cta_in a{
    box-sizing: border-box;
    width: 170px;
    height: 48px;
    color: #012F34;
    font-size: 18px;
    border: 2px solid #012F34;     
    border-radius: 100px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.cta_in:hover a{
    color: #fff;
    background-color: #012F34;
}


.start {
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #002529;
    min-height: 145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 11.45vw;
    color: #fff;
}
 

.footer-left {
    display: flex;
    justify-content: space-between;
    gap: 13.8vw;
}
 
.logo {
    font-size: 32px;
    font-weight: 700;
}
 
nav {
    display: flex;
    gap: 40px;
    margin-top: 25px;
}
 
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    transition: color 0.2s;
}
 
nav a:hover {
    color: #F67E7E;
}
 
.footer-info {
    display: flex;
    flex-direction: column;
    gap: 0;
    color: #fff;
    opacity: 0.6;
    font-size: 15px;
    line-height: 25px;
}
 
.footer-info p {
    margin: 0;
}
 
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 51px;
    color: #fff;
    opacity: 0.6;
    font-size: 15px;
}
 
.footer-right p {
    margin: 0;
    text-align: right;
}
 
.socials {
    display: flex;
    gap: 16px;
}
 
.socials a {
    display: block;
    transition: opacity 0.2s;
}
 
.socials a:hover img {
    filter: brightness(0) saturate(100%) invert(61%) sepia(44%) saturate(1000%) hue-rotate(310deg) brightness(100%);
}
 
.socials img {
    width: 24px;
    height: 24px;
    display: block;   
}

.socials2{
    display: none;
}

.texttablet{
    display: none;
}

@media (max-width: 768px) {
    
    .cta {
        width: 100%;
        max-width: 768px;
    }

    .cta_in{
        
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        max-width: 768px;
    }

    .cta_in a {
        width: 153px;
        height: 48px;
    }

    .cta_in h2{
        margin-bottom: 0px;
        margin: 0;
        font-size: clamp(20px, 5vw, 32px);
    }

    .cta img{
        margin-top: 110px;
    }

    .footer-right p{
        display: none;
    }

    .socials{
        display: none;
    }

    .socials2{
        display: flex;
        gap: 25px;
    }

    .start{
        width: 100%;
        max-width: 768px;
        display: flex;
        padding: 48px 34px;
    }

    .footer-info{
        right: 28px;
        position: absolute;
        text-align: right;
        margin-top: 10px;
    }

    .footer-info p {
        font-size: clamp(10px, 3vw, 15px);
    }

    .footer-left{
        width: 100%;
        gap: 25px;
        display: flex;
        flex-direction: column;
    }

    .texttablet{
        display: flex;
        margin-top: 25px;
    }
    
    nav{
        margin-top: 50px;
    }

    .socials2 a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 375px) {
    .cta_in{
        width: 100%;
        max-width: 375px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }

    .cta_in h2{
        display: flex;
        width: 200px;
        margin-bottom: 25px;
        font-size: clamp(32px, 3vw, 40px);
    }

    .cta img{
        margin-top: 200px;
    }

    .start{
        width: 100%;
        max-width: 375px;
        display: flex;
        flex-direction: column;
        padding: 30px 0px;
    }

    .socials2{
        display: none;
    }

    .footer-info{
        margin-left: -5px;
        text-align: center;
        margin-top: 25px;
        position: static;
    }

    .footer-info p{
        font-size: clamp(16px, 3vw, 20px);
    }

    .footer-left{
        gap: 10px;
    }

    .socials{
        display: flex;
    }

    nav{
        margin-top: 35px;
    }

    .texttablet{
        display: none;
    }

    .footer-right p{
        display: flex;
    }

    .footer-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .footer-right a{
        margin-top: 35px;
    }

    .logo{
        font-size: 28px;
        margin: 0 auto;
    }

}
