body{
    font-family: "Livvic", sans-serif;
    margin: 0 auto;
}

.success-stories {
    width: 1380px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #004047;
    color: white;
    padding: 16px 30px 70px;
    margin: 0 auto;
}

.move-photo{
    width: 1440px;
    height: auto;
    background-color: #004047;
    margin: 0 auto;
}


.move-photo1 {
    display: flex;
    justify-content: flex-end;
    width: 1440px;
    height: auto;
    background-color: #004047;
    margin: 0 auto;
}


.success-stories__title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 27px;
}

.success-stories__title h2 {
    font-size: 48px;
    line-height: 1;
}

.success-stories__title span {
    color: #79C8C7;
}
 
.persons-table {
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;                      
}

.persons-table p{
    font-size: 17px;
    line-height: 1.6;
    margin: 0;
}

.column-line1, .column-line2, .column-line3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.column-line1 h3, .column-line2 h3, .column-line3 h3{
    color: #79C8C7;
    font-size: 20px;
}

.size-photo{
    width: 67px;
    height: 56px;
    margin: 0 auto -25px;
}

.persons-photo{
    margin-top: 50px;
}




